body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    font-family: "Comic Sans MS";
    font-size:18px;
  }

button {
  font-family: "Comic Sans MS";
}
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square-active {
    color: green;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .winner-results {
    border: none;
    border-radius: 5px;
    padding:5px 10px;
  }

  .mt-15 {
    margin-top: 15px;
  }
  
  .new-game {
    color: darkblue;
  }

  .green-text {
    color: darkgreen;
  }

  .text-with-bold-span{
    margin-left:20px;
  }

  .text-with-bold-span a {
    text-decoration: none;
    color: fuchsia;
  }

  .float-left {
    float: left;
    padding-right: 30px;
  }